body{
    background-color: rgb(24, 94, 223);
    font-size: 1.5em;
    color: rgb(233, 66, 16);
    text-shadow: 1px 1px 4px black, 0 0 1em rgb(110, 93, 93);
}
.wrapper {
    max-width: 650px;
    margin: 50px auto 15px auto;
}

.h1{
    text-align: center;
    color: #32e48bd0;
    text-shadow: 1px 1px 2px black, 0 0 1em red; 
}

.wr_img{
    width: 100%;
}